
**/*.out

**/*.out.ps
**/*.dvi
**/*.ps
**/*.raw3.gnuplot
**/*.raw3.table
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pre
**/*.run.xml
**/*.synctex.gz
**/*.toc

**/*.maf
**/*.mtc
**/*.mtc0
