---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Welcome to my website. This is a place I am hoping will grow with me for quite a long time. I hope this helps or inspires you in any manner.
        </p>
        <h1 class="mb-4 text-3xl font-bold">A little about me</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
            I am a high-schooler from India interested in majoring in math and physics. I am not sure about which precise fields I want to go into, but I enjoy both and well, I’ll decide when I have seen more of these subjects. I just want to have fun learning them for now.
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
            While these are my foremost interests, I sometimes dab in theoretical cs, programming, and some philosophy<a href="#footnote-1">[1]</a>. I don’t get much time to do them these days, though.
        </p> 
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Other than that I like reading quite a lot. I don’t have a very organised list as of now, but in the future I may add the books I have read. Also will add some posts on the books I complete. Some of the books I am rather fond of are — *The Brothers Karamazov*, *The Book Thief*, *Crime and Punishment*, etc. Currently I am reading *Kafka at the Shore* by Murakami. I also like poetry, and sometimes write it too<a href="#footnote-2">[2]</a>.    
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          My taste in movies and manga/anime is around introspective or artistic stuff, though sometimes I enjoy just cute things. The music genres I listen to are a weird mix, but well, I mostly listen to classical music and rap. Some of my favorite artists being Kendrick and Kanye.  
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          On a completely different note, I absolutely love cats, they’re very cute. 
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Some trivia ---
            <ol>
              <li> Personality type - INFP-T [but](https://en.wikipedia.org/wiki/Myers-Briggs_Type_Indicator#Criticism). </li>
              <li> I am interested in open source and privacy respecting software, and hope to contribute soon myself. </li>
              <li> I like manga and anime, though I don’t watch much anime now. My favorite manga is *Vinland Saga*. </li>
            </ol> 
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          If you find something common here, and would like to talk to me, dm me on discord, my user name is *anon_scholar*.
        </p>
        <p id="footnote-1">[1] Mostly from MIT open learning courses for philosophy. I quite enjoyed Prof. Hare’s intro philosophy class on MITx.</p>
        <p id="footnote-2">[2] I’ll add some of them too, if I actually do like what I have written.</p>
        </p>
      </div>
    </section>
  </Container>
</Layout>
